.review-container {
  margin: 150px auto;
}
.proceed-link {
  text-decoration: none;
}
.btn-proceed {
  margin: 16px auto;
  width: 90%;
  height: 48px;
  padding: 8px;
  background: #FF9900;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #ffffff;
  border: transparent;
}
